<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iems5722.partytime" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LobbyActivity"
            android:label="@string/title_activity_lobby"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iems5722.partytime.HomeActivity" />
        </activity>
        <activity
            android:name=".StopwatchActivity"
            android:label="@string/title_activity_stopwatch"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iems5722.partytime.HomeActivity" />
        </activity>
        <activity
            android:name=".JoinHostActivity"
            android:label="@string/title_activity_join_host"
            android:noHistory="true"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iems5722.partytime.HomeActivity" />
        </activity>
        <activity
            android:name=".CrazyClickActivity"
            android:label="@string/title_activity_crazy_click" >
        </activity>
        <activity
            android:name=".ColorResponseActivity"
            android:label="@string/title_activity_color_response" >
        </activity>
        <activity
            android:name=".PatternActivity"
            android:label="@string/title_activity_pattern" >
        </activity>
        <activity
            android:name=".GameSequenceActivity"
            android:label="@string/title_activity_game_sequence" >
        </activity>
        <activity
            android:name=".CountDownActivity"
            android:label="@string/title_activity_count_down" >
        </activity>
        <activity
            android:name=".SendScoresActivity"
            android:label="@string/SendScoresActivity_name" >
        </activity>
    </application>

</manifest>
